Source: mmfw-sysconf
Section: misc
Priority: extra
Maintainer: Jonghyuk Choi <jhchoi.choi@samsung.com>, Younghwan An <younghwan_.an@samsung.com>, Kwanghui Cho <kwanghui.cho@samsung.com>, Seungbae Shin <seungbae.shin@samsung.com>, Younghun Kim <yh8004.kim@samsung.com>, Jeongmo Yang <jm80.yang@samsung.com>, Yejin Cho <cho.yejin@samsung.com>, Sangchul Lee <sc11.lee@samsung.com>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.2

Package: mmfw-sysconf-cleansdk-target
Architecture: armel
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Multimedia Framework system configuration package for clean SDK target binary

Package: mmfw-sysconf-simulator
Architecture: i386
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Multimedia Framework system configuration package for simulator

